<nav>
  <%= link_to t("jobs.back_to_all_jobs"), root_path %>
</nav>

<header>
  <h1>Desenvolvedor Ruby</h1>

  <dl>
    <dt>Empressa</dt>
    <dd>HUB 728</dd>
    <dt>Local</dt>
    <dd>Belém, PA</dd>
    <dt>Site</dt>
    <dd><%= link_to "http://hub728.com.br", "http://hub728.com.br" %></dd>
  </dl>
</header>

<section class="job-description">
  <p>
    Lorem ipsum dolor sit amet, nihil numquam apeirian id nec. In nibh abhorreant eam, quo virtute adipisci cu. Eu possit adipisci mei, sea eu eleifend pertinacia. Munere aliquip appetere ea qui, ius ut causae probatus.
  </p>

  <p>
    Suas molestie placerat sit ne. Salutandi patrioque vituperata sed ut, ad quis dicam duo. Alia dicat quaerendum vel no. Odio facete admodum per id, ad cum blandit accusata. Mea ad graeco scriptorem, in illum nominavi elaboraret mei. Ex brute partem laboramus vim.
  </p>

  <p>
    Omnis choro his ea, mutat tractatos pro ex. Error nemore nominavi et cum. Pri no consul primis officiis, debet ancillae noluisse ut eos, ne adhuc autem iracundia nam. Sea noster copiosae ei, vix no numquam efficiantur. Affert discere eligendi eum ei, solet expetenda id sea. Per ad hinc laboramus.
  </p>

  <p>
    Te cum hinc mazim mandamus, ea nec alterum dolorem. Eu pro commune scribentur. Fabulas volumus appareat nam ut, ius et albucius expetenda. Principes prodesset eu mel. Saepe scriptorem sed ex, nam impedit invidunt ut. Ne labore legimus mei.
  </p>
</section>

<footer class="job-application">
  <%= t("jobs.apply_message") %> <%= link_to "HUB 728", "http://hub728.com.br" %>
</footer>