body > header nav {
  display: inline-block;

  &#session_nav {
    float: right;
  }

  ul {
    padding: 0px;
  }

  li {
    padding: 5px 10px;
    display: inline-block;
  }

  li.active {
    background: #2767a4;
  }

  a {
    color: white;
  }
  
  a:hover {
    color: white;
    text-decoration: none;
  }
}